= form_for(resource) do |f|
  - if resource.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :subtitle
    %br/
    = f.text_field :subtitle
  .field
    = f.label :text
    %br/
    = f.text_area :text
  .field
    = f.label :image
    = image_tag(@post.image_url) if @post.image?
    = f.file_field :image
    = f.hidden_field :image_cache
    = f.check_box :remove_image

  .actions
    = f.submit
