= form_for resource do |f|
  - if resource.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :subtitle
    = f.text_field :subtitle, class: 'form-control'
  .form-group
    = f.label :text
    = f.text_area :text, class: 'form-control'
    %p.help-block.text-right
      = link_to 'https://daringfireball.net/projects/markdown/basics', target: '_blank' do
        Markdown is supported
        %i.fa.fa-info-circle

  .form-group
    = f.label :image
    .row
      .col-md-6
        %br
        = f.file_field :image
        = f.hidden_field :image_cache
      .col-md-6
        = image_tag(@post.image_url, class: 'img-responsive') if @post.image?
        .checkbox
          %label
            = f.check_box :remove_image
            Remove existing image
    %hr

  = f.submit 'Save changes', class: 'btn btn-success'
  .pull-right
    = link_to 'Cancel', resource, class: 'btn btn-warning'
